
<div class="listadoproductos">
    <div id="listadoCarrito"></div>
    <div class="row">
        <div class="col-md-8">
           
                <button type="button" class="btn btn-danger" onclick="vaciar()">VACIAR CARRITO</button>
                <button type="button" class="btn btn-primary" onclick="actualizarCarrito()">ACTUALIZAR CARRITO</button>
            
        </div>
        <div class="col-md-4 text-right">
            <h2>$ <span id="total"></span></h2>
            
                <button type="button" class="btn btn-success" onclick="confirmar()">CONFIRMAR COMPRA</button>
            
        </div>
    </div>
</div>
