<div class="col-md-8 offset-md-2">
    <div class="contentform card shadow p-5 bg-danger text-center">
        <h2 class="text-white">{{result}}</h2>
    </div>
    <a href="{{url}}" class="btn btn-primary mt-2">VOLVER A INTENTARLO</a>
</div>