{{> menu}}
<div class="row mt-5">
    <div class="col-12 text-center">
        <h2>MUCHAS GRACIAS, ESTAMOS PROCESANDO TU PEDIDO</h2>
        <a href="/" class="btn btn-primary">VOLVER AL INICIO</a>
    </div>
</div>