<div class="col-md-8 offset-md-2">
    <div class="row">
        <div class="col-md-8">
            <H2>LOGIN DE USUARIO</H2>
        </div>
        <div class="col-md-4 text-right">
            <a href="/registro" class="btn btn-primary">REGISTRO</a>
        </div>
    </div>
    <div class="contentform card shadow p-5">
         <form id="frmlogin" method="post" action="login" name="frmlogin">
            <div class="row">
                <div class="col-12">
                    <label>email</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                 <div class="col-12">
                    <label>contra</label>
                    <input type="password" class="form-control" id="password" name="password">
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    
                    <input type="submit" class="btn btn-primary mt-3" value="Enviar">
                </div>
            </div>
            
        
        </form>
    </div> 
</div>
