
<div class="row">
    <div class="col-md-8 offset-md-2">
        <h2>HASTA LUEGO {{usuario}}</h2>
    </div>
</div>
<script>
    setTimeout("login()",3000);
    function login(){
        location.href="/";
    }
</script>
