
    {{#each mensajes}}
        <div class="msj">
            <div class="autor">{{this.usuario.nombre}}</div>
            <div class="fecha">{{this.fecha}}</div>
            <div class="mensaje">{{this.mensaje}}</div>
        </div>
    {{/each}}


